@page "/counter"

@using NetFrwk_Library
@using System.Text.Json
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<hr />


<p>Add: @Result</p>

<button class="btn btn-primary" @onclick="Add">Add</button>

<hr />


<p>Employees List : @JsonSerializer.Serialize(emps) </p>

<button class="btn btn-primary" @onclick="GetEmployees">GetEmployees</button>


@code {

	ClsData obj;
	private int Result = 0;
	List<NetFrwk_Library.Employee> emps;

	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}

	private void Add()
	{
		obj = new ClsData();
		Result = obj.Add(500, 600);
	}

	private void GetEmployees()
	{
		obj = new ClsData();
		emps = obj.GetEmployees();
	}

}
